<div class="title">
  <h2>發票</h2>
  <p class="progress">
    <i class="material-icons">check_circle</i>
    <i class="material-icons">check_circle</i>
    <i class="material-icons">radio_button_checked</i>
  </p>
</div>

<div class="segment font-light-green">
  <ul>

    <li [class.selected]="didSelected(sendType.EMAIL)">
      <a
        href="javascript:;"
        (click)="switch(sendType.EMAIL)"
      >
        電子發票
      </a>
    </li>

    <li [class.selected]="didSelected(sendType.ADDRESS)">
      <a
        href="javascript:;"
        (click)="switch(sendType.ADDRESS)"
      >
        郵寄發票
      </a>
    </li>

  </ul>
</div>

<form>

  <!-- 電子發票所需之表單區域開始 -->
  <ng-container *ngIf="didSelected(sendType.EMAIL); else addressArea">

    <p class="full">
      <label for="email">電子郵件信箱</label>
      <input type="email" id="email" placeholder="example@email.com">
    </p>

    <p class="full">
      <label for="company-code">統一編號（選填）</label>
      <input type="text" id="company-code" placeholder="12345678">
    </p>

  </ng-container>
  <!-- 電子發票所需之表單區域結束 -->

  <!-- 郵寄發票所需之表單區域開始 -->
  <ng-template #addressArea>

      <p class="address full">

        <label for="address">地址</label>

        <select name="city" id="city">
          <option value="高雄市">高雄市</option>
        </select>

        <select class="float-right" name="county" id="county">
            <option value="新興區">新興區</option>
        </select>

        <input type="text" id="address" placeholder="幸福路 520 號">

        <span class="same-checkbox">
          <input type="checkbox" name="same-address" id="same-address">
          <label for="same-address">同運送地址</label>
        </span>

      </p>

      <p class="full">
        <label for="company-code">統一編號（選填）</label>
        <input type="text" id="company-code" placeholder="12345678">
      </p>

  </ng-template>
  <!-- 郵寄發票所需之表單區域結束 -->

</form>

<p class="full button"><a [routerLink]="['/', path.success]">確認結帳</a></p>
