<div class="container">

  <!-- 登入區域開始 -->
  <article class="bg-dark-green">

    <h2 class="font-light-green">會員登入</h2>

    <div class="mobile bg-light-green shell">
      <ul>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-facebook-logotype.svg" alt="使用 Facebook 登入的按鈕圖片"></a></li>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-google.svg" alt="使用 Google 登入的按鈕圖片"></a></li>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-yahoo.svg" alt="使用 yahoo 登入的按鈕圖片"></a></li>
      </ul>
    </div>

    <form>

      <p class="bg-light-green font-dark-green input-area">
        <label for="account">
          <i class="material-icons">person</i>
          <input type="text" placeholder="電子信箱/手機號碼" name="account" id="account">
        </label>
      </p>

      <p class="bg-light-green font-dark-green input-area">
        <label for="password">
          <i class="material-icons">vpn_key</i>
          <input type="text" placeholder="請輸入使用者密碼" name="password" id="password">
        </label>
      </p>

      <p class="font-light-green">
        <input class="bg-light-green" type="checkbox" name="remeber" id="remeber">
        <label for="remeber">記住我</label>
      </p>

      <p>
        <button class="font-dark-green" type="submit">登入帳號</button>
      </p>

    </form>

  </article>
  <!-- 登入區域結束 -->

  <!-- 連結社群帳號開始 -->
  <aside class="desktop">

    <div class="shell bg-light-green">

      <h2>—— 連結社群帳號 ——</h2>

      <ul>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-facebook-logotype.svg" alt="使用 Facebook 登入的按鈕圖片"></a></li>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-google.svg" alt="使用 Google 登入的按鈕圖片"></a></li>
        <li><a href="javascript:;"><img src="../assets/images/icon/ic-yahoo.svg" alt="使用 yahoo 登入的按鈕圖片"></a></li>
      </ul>

    </div>

  </aside>
  <!-- 連結社群帳號結束 -->

</div>
