<article>

  <!-- 主要 Banner 區域開始 -->
  <section class="main-banner">

    <ul>
      <li><a href="javascript:;">本日精選</a></li>
      <li><a href="javascript:;">人氣推薦</a></li>
      <li><a href="javascript:;">新品上市</a></li>
    </ul>

  </section>
  <!-- 主要 Banner 區域結束 -->

  <!-- 為什麼選擇了做甜點區域開始 -->
  <section class="why why-choose">

    <div class="img"></div>
    <div class="img"></div>

    <div class="description bg-light-green">

      <p>青山依舊在，幾度夕陽紅。慣看秋月春一壺濁酒喜相逢，浪花滔盡英雄。是非轉頭空，滾滾長江東逝水，白髮漁樵江古今多少事，都付笑談中。</p>
      <p>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>

    </div>

  </section>
  <!-- 為什麼選擇了做甜點區域結束 -->

  <!-- 為什麼一定要吃甜點區域開始 -->
  <section class="why why-eat">

    <div class="img"></div>
    <div class="img"></div>

    <div class="description bg-light-green">

      <p class="desktop">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
      <p>青山依舊在，幾度夕陽紅。慣看秋月春一壺濁酒喜相逢，浪花滔盡英雄。是非轉頭空，滾滾長江東逝水，白髮漁樵江古今多少事，都付笑談中。</p>
      <p class="mobile">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>

    </div>

  </section>
  <!-- 為什麼一定要吃甜點區域結束 -->

  <!-- 想吃甜點是不需要理由的區域開始 -->
  <section class="no-why">
    <img class="desktop" src="assets/images/logo/lg-想吃甜點是不需要理由的.svg" alt="想吃甜點是不需要理由的標語圖片">
    <img class="mobile" src="assets/images/logo/sm-想吃甜點是不需要理由的.svg" alt="想吃甜點是不需要理由的標語圖片">
  </section>
  <!-- 想吃甜點是不需要理由的區域結束 -->

  <!-- 本日精選區域開始 -->
  <section class="today-choice">

    <!-- 精選商品區域開始 -->
    <div class="choice-item">

      <p class="font-light-green bg-dark-green">本日精選</p>

      <div class="img"></div>

      <div class="description font-dark-green">
        <p>焦糖馬卡龍</p>
        <p>NT$ 450</p>
      </div>

      <button class="font-dark-green bg-light-green">加入購物車</button>

    </div>
    <!-- 精選商品區域開始 -->

    <!-- 精選商品區域開始 -->
    <div class="choice-item desktop">

      <p class="font-light-green bg-dark-green">本日精選</p>

      <div class="img"></div>

      <div class="description font-dark-green">
        <p>焦糖馬卡龍</p>
        <p>NT$ 450</p>
      </div>

      <button class="font-dark-green bg-light-green">加入購物車</button>

    </div>
    <!-- 精選商品區域開始 -->

    <!-- 精選商品區域開始 -->
    <div class="choice-item desktop">

      <p class="font-light-green bg-dark-green">本日精選</p>

      <div class="img"></div>

      <div class="description font-dark-green">
        <p>焦糖馬卡龍</p>
        <p>NT$ 450</p>
      </div>

      <button class="font-dark-green bg-light-green">加入購物車</button>

    </div>
    <!-- 精選商品區域開始 -->

  </section>
  <!-- 本日精選區域結束 -->

</article>
